body div.envify.left {
  padding-left: 5px !important;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 5px;
}

body div.envify.right {
  padding-right: 5px !important;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 5px;
}

body div.envify.top {
  padding-top: 5px !important;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 5px;
  width: 100%;
  z-index: 9999;
}

body div.envify.bottom {
  padding-bottom: 5px !important;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 5px;
  width: 100%;
  z-index: 9999;
}
